<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="shadow sm:overflow-hidden sm:rounded-md space-y-6 bg-white py-6 px-4 sm:p-6">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold leading-6 text-gray-900">Data Models</h1>
          <p class="mt-2 text-sm text-gray-700">List of ESG data models configured</p>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
          <button type="button" @click="add()"
            class="block rounded-md bg-sf-dark py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-sf-brown focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sf-dark">
            Add Model</button>
        </div>
      </div>
      <div class="mt-8 flow-root">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle">
            <table class="min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">
                    Model</th>
                  <th scope="col" class="hidden md:block px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name
                  </th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Version</th>
                  <!--th scope="col" class="hidden md:block px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                    Description</th-->
                  <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Actions</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <tr v-for="model in datamodels" :key="model.id">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">{{
                    model.id }}</td>
                  <td class="hidden md:block whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ model.name }}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ model.version }}</td>
                  <!--td class="hidden md:block whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ model.description }}</td-->
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 lg:pr-8">
                    <a @click="edit(model)" class="text-sf-dark hover:text-sf-brown">Edit</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Dialog to edit list of standards to use -->
  <Dialog :open="openEditDialog" title="Edit Model" okText="Upload" cancelText="Cancel" @close="uploadFile"
    @cancel="openEditDialog = false">
    <div class="mt-6 space-y-6">
      <div v-if="editModel.id">
        <p class="mt-2 text-sm text-gray-700">You can download the model YAML file with <a
            class="text-sf-dark hover:text-sf-brown underline" :href="getUrl(editModel.id)">this link</a></p>
        <p class="mt-2 text-sm text-gray-700">After you have edited it on your computer, upload it below.</p>
      </div>
      <p v-else class="mt-2 text-sm text-gray-700">Upload a YAML file below</p>
      <div class="mt-2">
        <input @change="chooseFile"
          class="block w-full pl-3 cursor-pointer bg-gray-50 border shadow-sm border-gray-300 text-gray-900 focus:border-sf-dark text-sm rounded-md"
          id="file_input" type="file" accept=".yaml" />
      </div>
    </div>
  </Dialog>
</template>
  
<script setup lang="ts">
import { APIError, api } from '@/adapters/api'
import { ref } from 'vue'
import type { DataModel } from '@/domain/datamodel'
import Dialog from '@/components/Dialog.vue'
import notify from '@/domain/notifications'

const datamodels = ref([] as DataModel[])
const openEditDialog = ref(false)
const editModel = ref({} as DataModel)
var file: File | undefined

function chooseFile(event: Event) {
  const fileInput = (event.target as HTMLInputElement).files;
  if (!fileInput || fileInput.length === 0) {
    alert("Please select a file to upload.");
    return;
  }

  file = fileInput[0];
}

function uploadFile() {
  if (file == undefined) {
    console.log("No file")
    return
  }
  console.log("A file")
  // Read the file content as text
  const fileReader = new FileReader();
  fileReader.onload = async (event) => {
    if (event.target == undefined) {
      console.error("Event target undefined")
      return
    }
    const fileContent = event.target.result as string;

    if (editModel.value.id != undefined) {
      // edit
      api.putContent("/datamodels/" + editModel.value.id, fileContent, "text/yaml", updateSuccess, updateError)
    } else {
      // add
      api.postContent("/datamodels", fileContent, "text/yaml", updateSuccess, updateError)
    }
  }

  fileReader.onerror = () => {
    console.error("FileReader error:", fileReader.error);
    notify.error("Error reading file", `${fileReader.error}`)
  }

  if (file != undefined) {
    fileReader.readAsText(file)
  }
}

const updateSuccess = (json: any) => {
  openEditDialog.value = false
  notify.success("Data model updated")
  loadDataModels()
}

const updateError = (err: APIError) => {
  openEditDialog.value = false
  notify.error(err.message, err.details)
}
// Open the dialog to edit a datamodel
function edit(model: DataModel) {
  editModel.value = model
  file = undefined
  openEditDialog.value = true
}

// Open the dialog to upload a new datamodel
function add() {
  editModel.value = {} as DataModel
  file = undefined
  openEditDialog.value = true
}

function getUrl(publicId: string) {
  return api.url("/datamodels/" + publicId + ".yaml")
}
// Load data models
function loadDataModels() {
  api.get("/datamodels", (data) => datamodels.value = data)
}

loadDataModels()
</script>