<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="bg-sf-lgray p-3 lg:p-5">
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
      <aside class="pt-0 pb-3 px-2 sm:px-6 lg:col-span-3 lg:py-0 lg:px-0">
        <nav class="grid grid-cols-2 lg:grid-cols-1 space-y-1">
          <a v-for="item in navigation" @click="go(item.name, item.href)"
            :class="[item.name == currentMenu ? 'col-span-1 bg-gray-50 textring-sf-dark hover:bg-white hover:textring-sf-dark' : 'text-gray-900 hover:bg-gray-50 hover:text-gray-900', 'group flex items-center rounded-md px-3 py-2 text-sm font-medium']"
            :aria-current="item.name == currentMenu ? 'page' : undefined">
            <component :is="item.icon"
              :class="[item.name == currentMenu ? 'textring-sf-dark group-hover:textring-sf-dark' : 'text-gray-400 group-hover:text-gray-500', '-ml-1 mr-3 h-6 w-6 flex-shrink-0']"
              aria-hidden="true" />
            <span class="truncate">{{ item.name }}</span>
          </a>
        </nav>
      </aside>

      <div class="space-y-6 sm:px-6 lg:col-span-9 lg:px-0">
        <router-view />
      </div>
    </div>

  </div>
</template>
  
<script setup lang="ts">
import { CogIcon, DocumentChartBarIcon, HeartIcon } from '@heroicons/vue/24/outline'
import {  useRoute } from "vue-router"
import {  ref } from "vue"
import { api } from '@/adapters/api'
import { nav, Link } from '@/adapters/navigate'

const navigation = [
  { name: 'Data models', href: nav.admin_data(), icon: DocumentChartBarIcon },
  { name: 'Rating models', href: nav.admin_rating(), icon: HeartIcon },
  { name: 'Other', href: nav.admin_other(), icon: CogIcon }
]
const route = useRoute()
const currentMenu = ref("Data models")

if (route.path.includes("data")) {
  currentMenu.value = "Data Models"
} else if (route.path.includes("rating")) {
  currentMenu.value = "Rating models"
} else if (route.path.includes("other")) {
  currentMenu.value = "Other"
}

function go(name: string, l: Link) {
  currentMenu.value = name
  l.go()
}

</script>