<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="shadow sm:overflow-hidden sm:rounded-md space-y-6 bg-white py-6 px-4 sm:p-6">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold leading-6 text-gray-900">Disclosures</h1>
          <p class="mt-2 text-sm text-gray-700">List of the ESG-data disclosures registered for {{ loadedCompany.name }}
          </p>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
          <button type="button" @click="nav.company_disclosure_create().go"
            class="block rounded-md bg-sf-dark py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-sf-brown focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sf-dark">Add
            Disclosure</button>
        </div>
      </div>
      <div class="mt-8 flow-root">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle">
            <table class="min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">
                    Year</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Standards</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Currency</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <tr v-for="disclosure in Disclosures" :key="disclosure.id">
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">{{
                    disclosure.year }}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ disclosure.standards }}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ disclosure.currency }}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ disclosure.is_published ? "Public" : "Draft"}}</td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 lg:pr-8">
                    <a @click="nav.company_disclosure(disclosure.id).go()" class="text-sf-dred hover:text-sf-brown">Edit</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
  
<script setup lang="ts">
import type { Disclosure } from '@/domain/disclosure'
import { loadedCompany } from '@/domain/company'
import { api } from '@/adapters/api'
import { ref, watch } from 'vue'
import { nav } from '@/adapters/navigate';

const Disclosures = ref([] as Disclosure[])

// First load
loadDisclosures(loadedCompany.value.id)

// Reload Disclosures when changing company
watch(loadedCompany, async (to, from) => {
  var newid = to.id
  if (newid != from.id) {
    loadDisclosures(newid)
  }
})

function loadDisclosures(companyid: string) {
  api.get("/disclosures?companyid=" + companyid, updateModel)
}


function updateModel(data: any) {
  let newSearchResults = [] as Disclosure[]
  for (const c of data) {
    const disclosure: Disclosure = {
      id: c.id, company_id: c.company_id, type: c.type, year: c.year,
      currency: c.currency, standards: c.standards,
      url: c.url, is_published: c.is_published
    }
    newSearchResults.push(disclosure)
  }
  Disclosures.value = newSearchResults
}

</script>