<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="shadow sm:overflow-hidden sm:rounded-md">
    <div class="space-y-6 bg-white py-6 px-4 sm:p-6">
      <div>
        <h3 class="text-base font-semibold leading-6 text-gray-900">Details</h3>
        <p class="mt-1 text-sm text-gray-500">This information will be displayed publicly so be careful what you
          share.</p>
      </div>

      <div class="grid grid-cols-3 gap-6">

        <div class="col-span-3 sm:col-span-2">
          <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
          <input type="text" name="name" id="name" v-model="loadedCompany.name"
            class="mt-2 block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sf-dark sm:text-sm sm:leading-6" 
            autocomplete="off"/>
        </div>

        <div class="col-span-3 sm:col-span-2">
          <label for="company-website" class="block text-sm font-medium leading-6 text-gray-900">Website</label>
          <div class="mt-2 flex rounded-md shadow-sm">
            <span
              class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 px-3 text-gray-500 sm:text-sm">https://</span>
            <input type="text" name="company-website" id="company-website" v-model="loadedCompany.website"
              class="block w-full flex-1 rounded-none rounded-r-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sf-dark sm:text-sm sm:leading-6"
              placeholder="www.example.com" autocomplete="off"/>
          </div>
        </div>

        <div class="col-span-3 sm:col-span-1">
          <label class="block text-sm font-medium leading-6 text-gray-900">Icon</label>
          <div class="mt-2 flex items-center">
            <span class="inline-block h-10 w-10 overflow-hidden">
              <QuestionMarkCircleIcon class="text-gray-400 h-10 w-10 mr-3 flex-shrink-0" />
            </span>
            <button type="button"
              class="ml-5 align-top rounded-md bg-white py-1.5 px-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Change</button>
          </div>
        </div>

        <div class="col-span-3 sm:col-span-2">
          <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Country and National
            ID</label>
          <div class="mt-2 flex rounded-md shadow-sm">
            <input type="text" name="name" id="name" v-model="loadedCompany.country"
              class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 px-3 text-gray-900 sm:text-sm focus:ring-2 focus:ring-inset focus:ring-sf-dark"
              autocomplete="off"/>
            <input type="text" name="name" id="name" v-model="loadedCompany.nationalid"
              class="block w-full flex-1 rounded-none rounded-r-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sf-dark sm:text-sm sm:leading-6"
              autocomplete="off"/>
          </div>
        </div>

        <div class="col-span-3">
          <label for="about" class="block text-sm font-medium leading-6 text-gray-900">About</label>
          <div class="mt-2">
            <textarea id="about" name="about" v-model="loadedCompany.about" rows="3"
              class="mt-1 block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sf-dark sm:py-1.5 sm:text-sm sm:leading-6"
              placeholder="Description of the company" />
          </div>
          <p class="mt-2 text-sm text-gray-500">Brief description of the company. URLs are hyperlinked.</p>
        </div>

      </div>
    </div>
    <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
      <button type="button" @click="saveCompany"
        class="inline-flex justify-center rounded-md bg-sf-dark py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-sf-brown focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outlinering-sf-dark">Save</button>
    </div>

  </div>
</template>
  
<script setup lang="ts">
import { QuestionMarkCircleIcon } from '@heroicons/vue/24/outline'
import { useRoute, useRouter } from "vue-router"
import { api, APIError } from '@/adapters/api'
import { loadedCompany, Company } from '@/domain/company'
import notify from '@/domain/notifications'
import { nav } from '@/adapters/navigate'

const route = useRoute()
const router = useRouter()

function updateModel(data: any) {
  var c: Company = new Company()
  c.id = data.id
  c.name = data.name
  c.country = data.country
  c.nationalid = data.nationalid
  c.website = data.website
  c.about = data.description
  c.brands = data.brands
  loadedCompany.value = c

  const ref = route.params.ref
  const newRef = c.getRef()
  if (ref != newRef) {
    nav.company(newRef).go()
  }
}

function updateModelAndNotify(msg: string): (company: any) => void {
  return (company: any) => {
    updateModel(company)
    notify.success(msg)
  }
}

function showError(error: APIError) {
  notify.error(error.message, error.details)
}

function saveCompany() {
  // Build the query URL
  const body = {
    name: loadedCompany.value.name,
    country: loadedCompany.value.country,
    nationalid: loadedCompany.value.nationalid,
    website: loadedCompany.value.website,
    description: loadedCompany.value.about
  }

  if (loadedCompany.value.id == null) {
    api.post("/companies", body, updateModelAndNotify("Company created"), showError)
  } else {
    api.patch("/companies/" + loadedCompany.value.id, body, updateModelAndNotify("Company saved"), showError)
  }
}
</script>