<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="shadow sm:overflow-hidden sm:rounded-md space-y-6 bg-white py-6 px-4 sm:p-6">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold leading-6 text-gray-900">Data</h1>
          <p class="mt-2 text-sm text-gray-700">Complete ESG dataset published for {{ loadedCompany.name }}</p>
        </div>
      </div>
      <div class="mt-4 container mx-auto">
        <pre class="bg-gray-100 text-sm text-gray-800 p-4 rounded shadow-md">{{facts}}</pre>
      </div>
    </div>

  </div>
</template>
  
<script setup lang="ts">
import { api } from '@/adapters/api'
import { loadedCompany, Facts } from '@/domain/company'
import { ref, watch } from "vue"

const facts = ref({} as Facts)

// First load
loadFacts(loadedCompany.value.id)

// Reload Disclosures when changing company
watch(loadedCompany, async (to, from) => {
  var newid = to.id
  if (newid != from.id) {
    loadFacts(newid)
  }
})

function loadFacts(companyid: string) {
  if (companyid == undefined) {
    return
  }
  api.get("/facts?companyid=" + companyid, (f) => facts.value = f)
}
</script>