<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="shadow sm:overflow-hidden sm:rounded-md">
    <div class="space-y-6 bg-white py-6 px-4 sm:p-6">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h3 class="text-base font-semibold leading-6 text-gray-900">Disclosure</h3>
          <p class="mt-1 text-sm text-gray-500">General information about the Disclosure</p>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
          <SwitchGroup as="div" class="flex items-center">
            <SwitchLabel as="span" class="mr-3 text-sm">
              <span class="font-medium text-gray-900">Make public</span>
            </SwitchLabel>
            <Switch v-model="disclosure.is_published"
              :class="[disclosure.is_published ? 'bg-sf-dark' : 'bg-gray-200', 'relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-sf-dark focus:ring-offset-2']">
              <span aria-hidden="true"
                :class="[disclosure.is_published ? 'translate-x-5' : 'translate-x-0', 'pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out']" />
            </Switch>
          </SwitchGroup>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-6">

        <div class="col-span-3 sm:col-span-1">
          <label for="year" class="block text-sm font-medium leading-6 text-gray-900">Type</label>
          <SimpleCombo @select="(key: any) => disclosure.type = key.id" :items="types" :selected="typeSelected"
            :label-provider="(p: any) => p.name" />
        </div>

        <div class="col-span-3 sm:col-span-1">
          <label for="year" class="block text-sm font-medium leading-6 text-gray-900">Year</label>
          <input type="text" name="year" id="year" v-model="disclosure.year"
            class="mt-2 block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sf-dark sm:text-sm sm:leading-6"
            autocomplete="off" />
        </div>

        <div class="col-span-3 sm:col-span-1">
          <label for="currency" class="block text-sm font-medium leading-6 text-gray-900">Currency</label>
          <input type="text" name="currency" id="currency" v-model="disclosure.currency"
            class="mt-2 block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sf-dark sm:text-sm sm:leading-6"
            autocomplete="off" />
        </div>

        <div class="col-span-3 sm:col-span-2">
          <label for="downloadurl" class="block text-sm font-medium leading-6 text-gray-900">Download URL</label>
          <div class="mt-2 flex rounded-md shadow-sm">
            <input type="text" name="downloadurl" id="downloadurl" v-model="disclosure.url"
              class="mt-2 block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sf-dark sm:text-sm sm:leading-6"
              autocomplete="off" placeholder="https://investors.company.com/reports/sustainability_2023.pdf" />
          </div>
        </div>

        <div class="col-span-3 sm:col-span-2">
          <label for="standards" class="block text-sm font-medium leading-6 text-gray-900">Standards</label>
          <div class="mt-2 flex rounded-md sm:text-sm">
            <span class="py-1.5 px-2.5">{{ standardsForDisplay }}</span>
            <button type="button" @click="openStandardsDialog = true"
              class="rounded-md bg-white py-1.5 ml-5 px-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="border-t border-gray-200 space-y-0 bg-white py-6 px-4 sm:p-6">
      <div>
        <h3 class="text-base font-semibold leading-6 text-gray-900">Data and Metrics</h3>
        
      </div>
      <div v-for="disclosures in allDisclosures" class="border-t border-gray-200 py-4">
        <p class="mt-1 mb-3 text-sm text-gray-500">Data for {{disclosures[0]}}</p>
        <PropertiesEditor v-if="dataObject[disclosures[0]]" :properties="disclosures[1]" :dataObject="dataObject[disclosures[0]]" />
      </div>
    </div>
    <div class="bg-gray-50 px-4 py-3 sm:px-6 flex flex-row space-x-3">
      <button v-if="disclosure.id" type="button" @click="loadVersionHistory()"
        class="justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-gray-300 hover:bg-gray-50">
        Show versions
      </button>
      <div class="grow" />
      <button type="button" @click="closeDisclosure()"
        class="justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-gray-300 hover:bg-gray-50">
        Cancel
      </button>
      <button v-if="!isOldVersionOpened" type="button" @click="saveDisclosure()"
        class="justify-center rounded-md bg-sf-dark py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-sf-brown focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outlinering-sf-dark">Save</button>
    </div>
  </div>

  <!-- Dialog to edit list of standards to use -->
  <TransitionRoot as="template" :show="openStandardsDialog">
    <Dialog as="div" class="relative z-10" @close="openStandardsDialog = false">
      <TransitionChild as="template" enter="ease-out duration-300" enter-from="opacity-0" enter-to="opacity-100"
        leave="ease-in duration-200" leave-from="opacity-100" leave-to="opacity-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <TransitionChild as="template" enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100" leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
            <DialogPanel
              class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
              <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                  <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <DialogTitle as="h3" class="text-base font-semibold leading-6 text-gray-900">
                      Select standards
                    </DialogTitle>
                    <div class="mt-6 space-y-6">
                      <div v-for="dm in dataModels" class="relative flex gap-x-3">
                        <div class="flex h-6 items-center">
                          <input :value="dm.id" type="checkbox" v-model.array="disclosure.standards"
                            class="h-4 w-4 rounded border-gray-300 text-sf-dark focus:ring-sf-dark" />
                        </div>
                        <div class="text-sm leading-6">
                          <label for="comments" class="font-medium text-gray-900">{{ dm.public_id }}</label>
                          <p class="text-gray-500">{{ dm.name }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                <button type="button" @click="openStandardsDialog = false"
                  class="inline-flex w-full justify-center rounded-md bg-sf-dark px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-sf-dark sm:ml-3 sm:w-auto">
                  Close
                </button>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>

  <!-- Overlay for displaying versions -->
  <TransitionRoot as="template" :show="openVersionHistory">
    <Dialog as="div" class="relative z-10" @close="closeVersionHistory()">
      <TransitionChild as="template" enter="ease-in-out duration-500" enter-from="opacity-0" enter-to="opacity-100"
        leave="ease-in-out duration-500" leave-from="opacity-100" leave-to="opacity-0">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
          <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
            <TransitionChild as="template" enter="transform transition ease-in-out duration-500 sm:duration-700"
              enter-from="translate-x-full" enter-to="translate-x-0"
              leave="transform transition ease-in-out duration-500 sm:duration-700" leave-from="translate-x-0"
              leave-to="translate-x-full">
              <DialogPanel class="pointer-events-auto w-screen max-w-md">
                <div class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl">
                  <div class="px-4 sm:px-6">
                    <div class="flex items-start justify-between">
                      <DialogTitle class="text-base font-semibold leading-6 text-gray-900">Version history</DialogTitle>
                      <div class="ml-3 flex h-7 items-center">
                        <button type="button"
                          class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-sf-dark focus:ring-offset-2"
                          @click="closeVersionHistory()">
                          <span class="sr-only">Close panel</span>
                          <XMarkIcon class="h-6 w-6" aria-hidden="true" />
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="relative mt-6 flex-1 px-4 sm:px-6">
                    <ul>
                      <li class="py-2 text-sm text-gray-800">
                        <a @click="loadDisclosure()" class="hover:underline focus:outline-none">Load latest version</a>
                      </li>
                      <li v-for="version in versionHistory" class="py-2 text-sm text-gray-800">
                        <p>{{ version.updated_time }} ({{ version.updated_by }})</p>
                        <a @click="loadDisclosureVersion(version.version)" class="hover:underline focus:outline-none">Load
                          version {{ version.version }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>
  
<script setup lang="ts">
import { ref, computed, watch } from "vue"
import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot, Switch, SwitchGroup, SwitchLabel } from '@headlessui/vue'
import { XMarkIcon } from '@heroicons/vue/24/outline'
import { useRoute } from "vue-router"
import { api, APIError } from '@/adapters/api'
import { Disclosure, Version } from '@/domain/disclosure'
import notify from '@/domain/notifications'
import { loadedCompany } from "@/domain/company"
import type { Property, DataModel } from '@/domain/datamodel'
import { loadDataModel } from '@/domain/datamodel'
import PropertiesEditor from '@/components/PropertiesEditor.vue'
import SimpleCombo from '@/components/SimpleCombo.vue'
import { nav } from "@/adapters/navigate"

// Main model
const disclosure = ref(new Disclosure())

// Type
const types = [
  { id: "sustainability_report", name: "Sustainability Report" },
  { id: "csr_report", name: "CSR Report" },
  { id: "annual_report", name: "Annual Report" }
]
const typeSelected = computed(() => {
  for (var i = 0; i < types.length; i++) {
    if (types[i].id === disclosure.value.type) {
      return types[i]
    }
  }
  return types[0]
})

// Dialog for editing standards
const openStandardsDialog = ref(false)
const standardsForDisplay = computed(() => {
  if (disclosure.value.standards == undefined) {
    disclosure.value.standards = []
  }
  return dataModels.value.filter(
    dm => disclosure.value.standards.includes(dm.id)).
    map(dm => dm.public_id).
    join(", ")
})

// ESG Data model
const dataModels = ref([] as DataModel[])
loadDataModel().then(dm => dataModels.value = dm)

// Data capture
const allDisclosures = ref(new Map<string, Property[]>())
const dataObject = ref({} as Record<string, Record<string, any>>)

// Overlay for viewing versions
const versionHistory = ref([] as Version[])
const openVersionHistory = ref(false)
const isOldVersionOpened = ref(false)

// Load Disclosure
const route = useRoute()
const disclosureId = ref(route.params.disclosureid as string)
loadDisclosure()

function loadDisclosure() {
  // Create mode. Nothing to load
  if (disclosureId.value == "create") {
    // Initialise default values
    disclosure.value.type = types[0].id
    return
  }
  isOldVersionOpened.value = false
  openVersionHistory.value = false
  api.get("/disclosures/" + disclosureId.value, updateDisclosureModel)
}


function loadVersionHistory() {
  console.log(`loading version history for ${disclosureId.value}`)
  if (versionHistory.value.length > 0) {
    // Do not reload, only show
    openVersionHistory.value = true
    return
  }
  api.get("/disclosures/" + disclosureId.value + "/versions", (data: any) => {
    versionHistory.value.splice(0)
    let newVersionHistory = [] as Version[]
    for (const c of data) {
      const version: Version = {
        original_id: c.original_id, version: c.version, updated_by: c.updated_by,
        updated_time: c.updated_time
      }
      versionHistory.value.push(version)
    }
    openVersionHistory.value = true
  })
}

function loadDisclosureVersion(version: number) {
  isOldVersionOpened.value = true
  closeVersionHistory()
  api.get("/disclosures/" + disclosure.value.id + "/versions/" + version, updateDisclosureModel)
}

function closeVersionHistory() {
  openVersionHistory.value = false
}

watch(standardsForDisplay, (now, _) => {
  const disclosureIds = new Set<string>()

  if (disclosure.value.standards == undefined) {
    return
  }
  // Clear the list
  allDisclosures.value.clear()

  // For each selected standard
  disclosure.value.standards.forEach(standard => {
    dataModels.value.forEach(dm => {
      if (dm.id === standard) {
        // We add all the disclosures
        allDisclosures.value.set(dm.id,dm.disclosures)
        if (dataObject.value[dm.id] == undefined) {
          dataObject.value[dm.id] = {}
        }
      }
    })
  })
})

function updateDisclosureModel(json: any) {
  var r: Disclosure = new Disclosure()
  r.id = json.id
  r.company_id = json.company_id
  r.is_published = json.is_published
  r.year = json.year
  r.currency = json.currency
  r.standards = json.standards
  r.url = json.url
  r.type = json.type

  disclosure.value = r
  disclosureId.value = r.id

  if (json.data != undefined) {
    dataObject.value = json.data
  } else {
    dataObject.value = {}
  }
}

function updateModelAndNotify(msg: string): (company: any) => void {
  return (company: any) => {
    updateDisclosureModel(company)
    notify.success(msg)
    nav.company_disclosures().go()
  }
}

function showError(error: APIError) {
  notify.error(error.message, error.details)
}

function closeDisclosure() {
  nav.company_disclosures().go()
}
function saveDisclosure() {
  const isCreate = disclosure.value.id == undefined

  // Build the query URL
  const body = {
    // Needs to be forced to a number
    year: Number(disclosure.value.year),
    // Company id cannot be updated once the Disclosure is created
    company_id: isCreate ? loadedCompany.value.id : undefined,
    type: disclosure.value.type,
    is_published: disclosure.value.is_published,
    currency: disclosure.value.currency,
    standards: disclosure.value.standards,
    url: disclosure.value.url,
    data: dataObject.value
  }

  if (isCreate) {
    api.post("/disclosures", body, updateModelAndNotify("Disclosure created"), showError)
  } else {
    api.patch("/disclosures/" + disclosure.value.id, body, updateModelAndNotify("Disclosure saved"), showError)
  }
}
</script>