<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <p>You can use this page to test stuff if needed</p>
  <div>{{ message }}</div>
  <div>Selected: {{ selectedPerson }}</div>
  <div>
    Combo:
    <SimpleCombo @select="(p: any) => selectedPerson = p" :items="people" 
      :selected="selectedPerson" :key-provider="(p: Person) => p?p.key:0"
      :label-provider="(p: Person) => p?p.name:''"/>
  </div>
</template>
  
<script setup lang="ts">
import { ref } from 'vue'
import SimpleCombo from '@/components/SimpleCombo.vue'
const message = ref("Hello world")
const people = [
  { id: 1,key:"isa", name: 'Isabelle' },
  { id: 2,key:"jose", name: 'Joséphine' },
  { id: 3,key:"alex", name: 'Alexander' }
]
const selectedPerson = ref()
type Person = typeof people[0]
</script>
  