<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div v-if="Array.isArray(dataObject) && property.type === 'array of object'">
    <button @click="addItem">Add Item</button>
    <div v-for="(item, index) in dataObject"
      :class="getItemType(property) === 'object' ? 'border-b border-t border-gray-900/10 ' : ''">
      <label class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">{{ property.name }} [{{ index }}]:
      </label>
      <ObjectPropertyEditor :property="getItemProperty(property)" :dataObject="dataObject[index]" />
      <button @click="removeItem(index)">Remove</button>
    </div>
  </div>
  <div v-else-if="Array.isArray(dataObject)" class="mt-1 col-span-2 flex">
    <input v-model="commaSeparatedDataObject" type="text" @blur="convertTypes"
      class="block w-full rounded-l-md border-0 py-1 text-right text-gray-900 focus:ring-2 focus:ring-inset focus:ring-sf-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 max-w-xs sm:text-sm sm:leading-6" />
    <span v-if="property.unit"
      class="inline-flex items-center rounded-r-md border border-l-0 border-gray-300 px-3 text-gray-500 sm:text-sm">{{
        property.unit }}</span>
  </div>
  <div v-else>Not an array {{ props.dataObject }}</div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import type { Property } from '@/domain/datamodel';
import ObjectPropertyEditor from '@/components/ObjectPropertyEditor.vue';

const props = defineProps<{
  property: Property
  dataObject: Array<any>
}>();

const arrayTypePrefix = "array of "
const commaSeparatedDataObject = computed({
  get: () => props.dataObject.join(', '),
  set: (newValue: string) => {
    // Clear the selectedOptions array
    props.dataObject.splice(0)

    // Split the newValue string and add the new values that are defined
    const newValues = newValue.split(',').map(option => option.trim())
    newValues.forEach(v => {
      if (v != undefined) {
        props.dataObject.push(v)
      }
    })
  },
});

function convertTypes() {
  for (var i = 0; i < props.dataObject.length; i++) {
    props.dataObject[i] = getTypedValue(props.dataObject[i])
  }
}
function getItemType(property: Property) {
  return property.type.slice(arrayTypePrefix.length)
}

function getItemProperty(property: Property) {
  const p = {} as Property
  p.id = property.id
  p.public_id = property.public_id
  p.name = property.name
  p.description = property.description
  p.type = getItemType(property)
  p.unit = property.unit
  p.properties = property.properties
  return p
}


function addItem() {
  const type = getItemType(props.property)
  if (type === 'object') {
    props.dataObject.push({} as Record<string, any>)
  } else if (type === 'number') {
    props.dataObject.push(undefined)
  } else if (type === 'boolean') {
    props.dataObject.push(false)
  } else {
    props.dataObject.push("")
  }
}

function removeItem(index: number) {
  if (props.dataObject) {
    props.dataObject.splice(index, 1)
  }
}

function getTypedValue(inputValue: string) {
  const type = getItemType(props.property)
  if (type === 'decimal') {
    const f = parseFloat(inputValue)
    if (isNaN(f)) {
      return undefined
    } else {
      return f
    }
  } else if (type === 'integer') {
    const i = parseInt(inputValue)
    if (isNaN(i)) {
      return 0
    } else {
      return i
    }
  } else if (type === 'boolean') {
    return inputValue === 'true';
  } else {
    return inputValue
  }
}
</script>
