<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <Combobox @update:modelValue="onSelect" by="id">
    <div class="relative block w-full border-0 rounded-md bg-sf-lgray">
      <div class="pointer-events-none border-0 absolute inset-y-0 left-0 flex items-center pl-3">
        <MagnifyingGlassIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
      </div>
      <ComboboxInput @change="query = $event.target.value" :displayValue="getDisplayValue"
        class="block w-full border-0 rounded-md bg-sf-lgray py-1.5 pl-10 pr-3 text-gray-300 placeholder:text-gray-400 focus:bg-white focus:text-gray-900 focus:ring-0 sm:text-sm sm:leading-6"
        placeholder="Search company..." autocomplete="off" />
      <div v-if="isOpen" class="absolute rounded-md border border-sf-gray bg-white pr-3 sm:text-sm sm:leading-6">
        <ComboboxOptions v-if="searchResults.length > 0" static class="max-h-96 scroll-py-3 overflow-y-auto p-3">
          <ComboboxOption v-for="company in searchResults" :key="company.id" :value="company" as="template"
            v-slot="{ active }">
            <li :class="['flex cursor-default select-none rounded-xl p-3', active && 'bg-gray-100']">
              <div class="flex h-10 w-10 flex-none bg-sf-mgray items-center justify-center rounded-lg">
                <img class="h-8 w-8 text-white" :src="company.icon" alt="Logo" />
              </div>
              <div class="ml-4 flex-auto">
                <p :class="['text-sm font-medium', active ? 'text-gray-900' : 'text-gray-700']">
                  {{ company.name }}
                </p>
                <p :class="['text-sm', active ? 'text-gray-700' : 'text-gray-500']">
                  {{ company.description }}
                </p>
              </div>
            </li>
          </ComboboxOption>
        </ComboboxOptions>

        <div v-if="searchResults.length == 0" class="py-14 px-6 text-center text-sm sm:px-14">
          <ExclamationCircleIcon type="outline" name="exclamation-circle" class="mx-auto h-6 w-6 text-gray-400" />
          <p class="mt-4 font-semibold text-gray-900">No results found</p>
          <p class="mt-2 text-gray-500">No components found for this search term. Please try again.</p>
        </div>
      </div>
    </div>
  </Combobox>
</template>
  

<script setup lang="ts">
import { ref, watch } from 'vue'
import { MagnifyingGlassIcon } from '@heroicons/vue/20/solid'
import { ExclamationCircleIcon } from '@heroicons/vue/24/outline'
import { Combobox, ComboboxInput, ComboboxOptions, ComboboxOption } from '@headlessui/vue'
import { api } from '@/adapters/api'
import { nav } from '@/adapters/navigate'


class Company {
  id !: string
  name !: string
  description !: string
  icon !: string
  ref !: string
}

const minQueryLength = 3
const query = ref('')
const searchResults = ref([] as Company[])
const isOpen = ref(false)

function onSelect(c: Company) {
  isOpen.value = false
  nav.company(c.ref).go()
}

function getDisplayValue(c: any) {
  return c.name
}

watch(query, async (from, to) => {
  // // Minimum query length: 3
  if (from.length < minQueryLength) {
    isOpen.value = false
    return
  }

  // Build the query URL
  const params = new URLSearchParams()
  params.append("query", from)
  params.append("limit", "20")

  api.get("/companies?" + params, loadCompanyList)
  isOpen.value = true
})

function loadCompanyList(data: any) {
  let newSearchResults = [] as Company[]
  for (const c of data) {
    const company: Company = {
      name: c.name,
      id: c.id,
      description: c.description + ".\n" + c.brands,
      icon: "/favicon.svg",
      ref: c.country + "-" + c.nationalid
    }
    newSearchResults.push(company)
  }
  searchResults.value = newSearchResults
}
</script>