<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div v-if="property.type === 'object' && property.properties !== undefined">
    <PropertiesEditor :properties="property.properties" :dataObject="dataObject" />
  </div>
  <div v-else>Property type not an object: {{ property }}</div>
</template>
  
<script lang="ts" setup>
import type { Property } from '@/domain/datamodel';
import PropertiesEditor from '@/components/PropertiesEditor.vue';
import { ref } from 'vue';

const props = defineProps<{
  property: Property;
  dataObject: Record<string, any>;
}>();

const property = ref(props.property);
</script>
  