<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <div v-for="key in orderedKeys" class="border-b border-t border-gray-900/10">
      <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 py-2">
        <label v-if="property.name" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1">{{
          property.name }} Id</label>
        <div class="mt-1 col-span-2 flex"><input @focusout="(event: Event) => updateKey(dataObject, key, event)"
            :value="key" type="text" v-regexp-input="'[a-z][a-z0-9_]*'"
            class="block w-full rounded-l-md border-0 py-1 text-right text-gray-900 focus:ring-2 focus:ring-inset focus:ring-sf-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 max-w-xs sm:text-sm sm:leading-6" />
        </div>
      </div>
      <ObjectPropertyEditor :property="getItemProperty(property)" :dataObject="dataObject[key]" />
      <button @click="removeItem(dataObject, key)">Remove</button>
    </div>
    <button @click="addItem">Add Item</button>
  </div>
</template>

<script lang="ts" setup>
import type { Property } from '@/domain/datamodel';
import ObjectPropertyEditor from '@/components/ObjectPropertyEditor.vue';
import { ref, type Directive } from 'vue';

const props = defineProps<{
  property: Property
  dataObject: Record<string, any>
}>();

// We want to avoid weird changes in the order while editing so 
// we keep an ordered list of keys
var orderedKeys = ref(Object.keys(props.dataObject))

const mapTypePrefix = "map of "
function getItemType(property: Property) {
  return property.type.slice(mapTypePrefix.length)
}

function getItemProperty(property: Property) {
  const p = {} as Property
  p.id = property.id
  p.public_id = property.public_id
  p.name = property.name
  p.description = property.description
  p.type = getItemType(property)
  p.unit = property.unit
  p.properties = property.properties
  return p
}


function addItem() {
  const newKey = 'item_' + Object.keys(props.dataObject).length
  props.dataObject[newKey] = {} as Record<string, any>
  orderedKeys.value.push(newKey)
}

function removeItem(record: Record<string, any>, key: string) {
  if (record.hasOwnProperty(key)) {
    delete record[key]
    orderedKeys.value = orderedKeys.value.filter(item => item !== key)
  }
}

function updateKey(record: Record<string, any>, oldKey: string, event: Event) {
  const newKey = (event.target as HTMLInputElement).value;
  if (oldKey !== newKey && record.hasOwnProperty(oldKey)) {
    record[newKey] = record[oldKey];
    delete record[oldKey];
    orderedKeys.value = orderedKeys.value.map(item => item === oldKey ? newKey : item);
  }
}

const RestrictInputDirective: Directive = {
  mounted(el, binding) {
    el.addEventListener('input', (event: InputEvent) => {
      const regex = /^[a-z0-9_]*$/;
      if (!regex.test((event.target as HTMLInputElement).value)) {
        event.preventDefault();
        (event.target as HTMLInputElement).value = (event.target as HTMLInputElement).value.replace(/[^a-zA-Z0-9_]/g, '');
      }
    });
  },
};
</script>
