<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div v-if="arePropsReady" v-for="property in properties">
    <div v-if="property" :class="[property.type === 'object'?'border-b border-t border-gray-900/10 ':'','sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 py-2']">
      <label v-if="property.name" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1">{{
        property.name }}</label>
      <div v-if="property.type === 'object'" class="mt-1 sm:col-span-2 sm:mt-0">
        <ObjectPropertyEditor :property="property" :dataObject="getDataObject(property)" />
      </div>
      <div v-if="property.type === 'map of object'" class="mt-1 sm:col-span-2 sm:mt-0">
        <ObjectMapPropertyEditor :property="property" :dataObject="getDataObject(property)" />
      </div>
      <div v-else-if="property.type.startsWith(arrayTypePrefix)" class="mt-1 sm:col-span-2 sm:mt-0">
        <ArrayPropertyEditor :property="property" :dataObject="getDataObject(property)" />
      </div>
      <div v-else-if="property.type.startsWith(enumTypePrefix) && property.values != undefined" class="mt-1 sm:col-span-2 sm:mt-0">
        <SimpleCombo @select="(item: any) => dataObject[property.id] = item" :items="property.values.split('|')" :selected="dataObject[property.id]"/>
      </div>
      <div v-else class="mt-1 col-span-2 flex">
        <input @input="(event: Event) => readValue(property, event)" :value="dataObject[property.id]"
          :type="getPropertyInputType(property.type)"
          class="block w-full rounded-l-md border-0 py-1 text-right text-gray-900 focus:ring-2 focus:ring-inset focus:ring-sf-dark shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 max-w-xs sm:text-sm sm:leading-6" />
          <span v-if="property.unit"
              class="inline-flex items-center rounded-r-md border border-l-0 border-gray-300 px-3 text-gray-500 sm:text-sm">{{ property.unit }}</span>
      </div>
    </div>
    <div v-else>
      Undefined property {{ properties }}
    </div>
  </div>
  <div v-else>
    <p>Loading ...</p>
  </div>
</template>
  
<script lang="ts" setup>
import { ref, computed } from 'vue';
import ObjectPropertyEditor from '@/components/ObjectPropertyEditor.vue';
import ObjectMapPropertyEditor from '@/components/ObjectMapPropertyEditor.vue';
import ArrayPropertyEditor from '@/components/ArrayPropertyEditor.vue';
import SimpleCombo from '@/components/SimpleCombo.vue'
import type { Property } from '@/domain/datamodel';

const arrayTypePrefix = "array of "
const enumTypePrefix = "enum of "

const props = defineProps<{
  properties: Property[]
  dataObject: Record<string, any>
}>();

const properties = ref(props.properties);

function getDataObject(property: Property) {
  if (props.dataObject[property.id] === undefined) {
    if (property.type.startsWith(arrayTypePrefix)) {
      const type = property.type.slice(arrayTypePrefix.length)
      props.dataObject[property.id] = []
    } else if (property.type === "object") {
      props.dataObject[property.id] = {} as Record<string, any>
    } else {
      props.dataObject[property.id] = {}
    }
  }

  return props.dataObject[property.id]
}

function getPropertyInputType(type: string) {
  switch (type) {
    case 'integer':
    case 'decimal':
      return 'number';
    case 'boolean':
      return 'checkbox';
    case 'string':
    default:
      return 'text';
  }
}

function readValue(property: Property, event: Event) {
  const inputValue = (event.target as HTMLInputElement).value;
  const type = property.type
  if (type === 'integer') {
    props.dataObject[property.id] = parseInt(inputValue);
  } else if (type === 'decimal') {
    const f = parseFloat(inputValue);
    if (isNaN(f)) {
      props.dataObject[property.id] = undefined
    } else {
      props.dataObject[property.id] = f
    }
  } else if (type === 'boolean') {
    props.dataObject[property.id] = inputValue === 'true';
  } else {
    props.dataObject[property.id] = inputValue
  }
}

const arePropsReady = computed(() => {
  return (
    props.dataObject && properties.value
  )
});
</script>  