<!--
Copyright © 2023 The Authors (See AUTHORS file)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
    <Combobox as="div" v-model="selectedItem">
        <div class="relative mt-2">
            <ComboboxInput
                class="w-full rounded-md border-0 bg-white py-1.5 pl-3 pr-10 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-sf-dark sm:text-sm sm:leading-6"
                @change="query = $event.target.value" :display-value="getLabelProvider()" />
            <ComboboxButton class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
                <ChevronUpDownIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
            </ComboboxButton>

            <ComboboxOptions v-if="filteredItems.length > 0"
                class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
                <ComboboxOption v-for="item in filteredItems" :value="item" as="template" v-slot="{ active, selected }">
                    <li
                        :class="['relative cursor-default select-none py-2 pl-3 pr-9', active ? 'bg-sf-lgray text-sf-dark' : 'text-gray-900']">
                        <span :class="['block truncate', selected && 'font-semibold']">
                            {{ getLabelProvider()(item) }}
                        </span>

                        <span v-if="selected"
                            :class="['absolute inset-y-0 right-0 flex items-center pr-4', active ? 'text-white' : 'text-gray-900']">
                            <CheckIcon class="h-5 w-5" aria-hidden="true" />
                        </span>
                    </li>
                </ComboboxOption>
            </ComboboxOptions>
        </div>
    </Combobox>
</template>

<script lang="ts" setup>
import { computed, ref, watch } from 'vue'
import { CheckIcon, ChevronUpDownIcon } from '@heroicons/vue/20/solid'
import {
    Combobox,
    ComboboxButton,
    ComboboxInput,
    ComboboxOption,
    ComboboxOptions,
} from '@headlessui/vue'

const props = defineProps<{
    items: any[]
    labelProvider?: (item: any) => string
    keyProvider?: (item: any) => number | string
    selected?: any
}>();

const selectedItem = ref(props.selected)
// We need to watch actively
watch(
    () => props.selected,
    (newValue, oldValue) => {
        selectedItem.value = newValue
    }
)

const query = ref('')
const filteredItems = computed(() => {
    if (query.value === '') {
        return props.items
    }
    return props.items.filter(itemMatchesQuery)
})

function itemMatchesQuery(item: any) {
    return getLabelProvider()(item).toLowerCase().includes(query.value.toLowerCase())
}

function getLabelProvider() {
    if (props.labelProvider != undefined)
        return props.labelProvider
    return (item: any) => typeof item === 'string' ? item : JSON.stringify(item)
}
function getKeyProvider() {
    return props.keyProvider != undefined ? props.keyProvider : (item: any) => item
}

// In order to send selected data with an event
const emit = defineEmits(["select"]);

watch(selectedItem, (to, _) => {
    emit('select', selectedItem.value);
})
</script>