@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
    margin-inline-start: -1rem;
    border-width: 0px;
    border-color: rgb(209 213 219);
    margin-inline-end: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}